$font-stack: "Helvetica", sans-serif;
$primary-font-color: white;
$primary-color-button: white;
$background-color-button: gray;

html{
font:100% $font-stack;
color: $primary-font-color;
margin: auto;
width: 75%;
height: 100%;
padding:10px;
background-color: rgba(0, 0, 0, 0.6);
}

body{
font:100% $font-stack;
color: $primary-font-color;
width: 75%;
min-height: 100%;
padding:10px;
background-color: rgba(0, 0, 0, 0.6);
}

img{
    max-width: 100%;
}

.hero-image{
background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/images/keyboard.png');
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 15px;
position: relative;

&::hero-text{
    text-align: left;
    position: absolute;
    left: 1%;
    color: white;
    }

}

h2{
    color: white;
}

a{
    outline:none;
    text-decoration: none;
}

a:link{
    color:#407480
}

a:visited{
    color: #c7afff;
}

a:focus{
    background: #c7afff;
}
  
a:hover{
background: #ff770060;
}

.nav{
    margin: 1rem;
    padding: 0;
    list-style-type: none;
    text-align: left;
    font-size: large;
    & a{
    color: white;
    background-color: $background-color-button;
    display: inline-block;
    padding: 2px 20px;
    border-color: black;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: all 0.3s;

        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            z-index: -1;
            background: #407480;
            transition: all 0.3s;
            border-radius: 4px;
        }
        
        &:hover::after{
            width: 100%;
        }
        
        &img{
            height: 100%;
            width: 100%;
        }
        
        &.current{
            background-color: rgb(64, 116, 128);
        }

    }
}

